.wrapper {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-image: linear-gradient(#5fbc51, #5ac178);
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  max-width: 760px;
  padding: 15px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-logo {
  width: 80%;
  max-width: 350px;
  margin-bottom: 25px;
}

.react-select-virtualized {
  width: 100%;
}

.pokemon-container {
  background-color: #fafafa;
  width: 100%;
  max-width: 760px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px 40px 0 0;
}

.pokemon-name {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin: 10px 0 0 0;
}

.pokemon-image {
  width: 200px;
  height: 200px;

  margin-top: -140px;
  cursor: pointer;
}

.pokemon-evo-image {
  width: 100px;
  height: 100px;
}

.pokemon-evolutions-title {
  text-align: center;
}

.pokemon-evolutions {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.evolutions-labels {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.evolution-name {
  width: 100px;
  text-align: center;
}

.evolutions-images-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 5px;
}

.pokemon-label {
  width: 100%;
  margin-bottom: 5px;
  font-weight: 800;
  font-size: 18px;
  margin-right: 5px;
}

.pokemon-species-container {
  margin: 20px;
  width: calc(100%-40px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-types-container {
  display: flex;
}

.pokemon-species-info {
  min-width: 100px;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 9px;
  margin: 0 5px 0 5px;
  border-radius: 16px;
  color: #fafafa;
  text-align: center;
  background-color: #92bc2c;
  box-shadow: 0 0 5px #92bc2c;
}

.button {
  min-width: 100px;
  font-size: 14px;
  padding: 10px 15px;
  margin: 0;
  border-radius: 18px;
  text-align: center;

  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease-in-out;
}

.buttons-container {
  display: flex;
}

.pokemon-species-story {
  margin-top: 25px;
  width: 100%;
  font-size: 15px;
  font-weight: 300;
  text-align: center;

  text-justify: auto;
}

.pokemon-moves-container {
  width: 100%;

  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.pokemon-move {
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 0.5px solid rgba(164, 164, 164, 0.5);
}

.pokemon-move:last-child {
  border-bottom: none;
}

.move-name {
  font-size: 19px;
  line-height: 25px;
  height: 25px;
}

.move-lvl {
  font-size: 15px;
  line-height: 20px;
  height: 20px;
  color: #a4a4a4;
}

.pokemon-abilities-info {
  width: 100%;
}

.pokemon-stats-container {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column-reverse;
}

.pokemon-stat-row {
  width: 100%;
  display: grid;
  grid-template-columns: 8% 40%;
  column-gap: 10px;
  font-size: 14px;
}

.pokemon-stat-value {
  justify-self: end;
}

.pokemon-stats-chart {
  width: 100%;
  padding: 20px;
  height: 300px;
}
